{% extends 'base.html.twig' %}

{% block title %}Condition General de Vente{% endblock %}

{% block body %}


<h2>Conditions Générales de Vente (CGV)</h2>

<h2>1. Préambule</h2>

Les présentes Conditions Générales de Vente (CGV) régissent les ventes réalisées sur le site internet d'Appollo Cloud (le "Site"). Appollo Cloud est une plateforme de vente en ligne de cigarettes électroniques et de produits connexes.

<h2>2. Identification du Vendeur</h2>

Appollo Cloud
Adresse : [Adresse du Vendeur]
Téléphone : [Numéro de téléphone du Vendeur]
Email : [Adresse email du Vendeur]

<h2>3. Objet</h2>

Les présentes CGV ont pour objet de définir les conditions dans lesquelles les produits proposés sur le Site sont vendus aux clients.

<h2>4. Collecte et Traitement des Données Personnelles</h2>

Le Vendeur collecte les données personnelles du client, notamment son nom, prénom, adresse de livraison et adresse email, dans le cadre de la vente en ligne. Ces données sont nécessaires pour le traitement de la commande et la livraison des produits. Le client consent à la collecte et au traitement de ses données personnelles dans le cadre de sa commande sur le Site. Le Vendeur s'engage à respecter les dispositions du Règlement Général sur la Protection des Données (RGPD) et garantit que les données collectées ne seront utilisées que dans le cadre de la vente en ligne et pourront être supprimées sur demande du client. Le client peut contacter l'administrateur du site par email pour avoir accès à ses données personnelles ou pour demander leur suppression.

<h2>5. Déclaration d'Âge</h2>

En passant commande sur le Site, l'acheteur déclare avoir au moins 18 ans et être légalement autorisé à acheter des produits contenant de la nicotine.

<h2>6. Rétractation</h2>

Conformément à la législation en vigueur, le client dispose d'un délai de rétractation de 14 jours à compter de la réception des produits pour exercer son droit de rétractation et retourner les produits non utilisés dans leur emballage d'origine.

<h2>7. Service Client</h2>

Pour toute question ou réclamation, le client peut contacter le service client d'Appollo Cloud par téléphone ou par email aux coordonnées fournies dans les présentes CGV.

<h2>8. Responsabilité</h2>

Le Vendeur ne saurait être tenu responsable des dommages directs ou indirects causés par l'utilisation des produits vendus sur le Site. Le client est seul responsable de l'utilisation des produits conformément aux recommandations du fabricant.

<h2>9. Loi applicable et juridiction compétente</h2>

Les présentes CGV sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.


{% endblock %}
