<h1>Confirmation inscription</h1>

<p>
    Bonjour,veuillez confirmer votre adresse e mail en cliquant sur le lien suivant:
   <br><br>

    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    le lien expire dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>

    Bien a vous !<br>


    L'equipe Appolo Cloud
</p>
