{% extends 'base.html.twig' %}

{% block title %}Email de changer de mot de passe envoyer{% endblock %}

{% block body %}
    <p>
       Un e-mail a été envoyez a votre adresse de couriel
        Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de courriel , verifier votre boite spam, sinon cliquez sur ce lien <a href="{{ path('app_forgot_password_request') }}">renvoyer E-mail</a>.</p>
{% endblock %}
