/*/////////////////////////////////invoice pdf//////////////////////////////////////*/



#invoiceHeader{
    float: inline-end;
}


.col-sm{
    display: inline-block;
    vertical-align: top;
}

h1{
    display: flex;
    justify-content: center;
}

#adress{
   
    text-align: center;
    
}


