@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#00BEE0,rgb(2, 2, 2) );
    background-repeat: no-repeat;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}
nav{
    display: flex;
    flex-direction: row;
    /* color: white; */
    text-decoration: none;
    list-style: none;
    width: 98%;
    align-items: center;
    justify-content: space-around
}



footer{
    background-color: black;
}

li{
    
    list-style: none;
}

nav a{
    text-decoration: none;
    color:white;
}


#template{
    width: 90%;
    min-height: 80%;
    background-color: white;
  
}

/*////////////////////////header///////////////*/


header{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image:url(/pictureHeader/milky-way-2695569_1280.jpg) ;
    background-size: cover;
    filter:brightness(1);
    transition: filter 0.7s ease-in-out;
    height: 12vw;
}

header:hover{
    filter:brightness(1.5);
 
}

#quantityBasket{
    color:white;
}

.text-white-icon {
    color: white;
  }

.header-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*///////////////////////logo////////////////////////*/
#top{
height: 0px;
}

#figureLogo{
    border-radius: 50 vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logoBefore{
    width: 47%;
    z-index: 20;
}

.logoAfter{
    background-image: url();
}
    

#logo{
    position: absolute;
    top: -6vh;
    width: 21%;
    z-index: 2;
}



/*///////////////////////img cloud////////////////////////////*/

.cloudLeft-home{
/* display: none; */
    position: absolute;
    z-index: 1;
    width: 80vw;
    bottom: 31vw;
    right: 24vw;
  /*  animation: cloud1 1s  forwards; */
   
}

.cloudRight-home{
 /*   display: none; */
    position: absolute;
    z-index: 3;
    width: 80vw;
    bottom: 64vh;
    left: 27vw;
 /* animation: cloud2 1s ease  forwards;*/

}


.cloudLeft{
    /* display: none; */
        position: absolute;
        z-index: 1;
        width: 80vw;
        bottom: 31vw;
        right: 24vw;
        animation: cloud1 1s  forwards; 
       
    }
    
    .cloudRight{
     /*   display: none; */
        position: absolute;
        z-index: 3;
        width: 80vw;
        bottom: 64vh;
        left: 27vw;
      animation: cloud2 1s ease  forwards;
    
    }


.animate-cloudLeft {
    animation: cloud1 2s forwards;
}

.animate-cloudRight {
    animation: cloud2 2s  forwards;
}

.reverse-cloudLeft {
    animation: cloud1Reverse 2s forwards;
}

.reverse-cloudRight {
    animation: cloud2Reverse 2s  forwards;
}




.cloudFigure{
    margin:0;
    height: 0;
}

@keyframes cloud1 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-66vw);
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(68vw);
    }
}

@keyframes cloud1Reverse {
    0% {
        transform: translateX(-60vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

@keyframes cloud2Reverse {
    from {
        transform: translateX(68vw);
    }
    to {
        transform: translateX(0vw);
    }
}
  
  
/*///////////////////////////home page////////////////////////////////*/


/*//////////////////////////////carousel////////////////////////////*/
.carousel {
    position: relative;
    overflow: hidden;
    width: 99vw;
    height: 60vh;
    right: 5vw;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 60vh;
  }
  
  .carousel-item:not(.active) {
    display: none;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

/*/////////////////////////////paralax et blog homepage////////////////////////*/

/*paralax*/
#paralaxFigure{
    width: 100%;
    height: 50vh;
    
    display: flex;
justify-content: center;
align-items: center;
}

#pictureParalax{
    overflow: hidden;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
background-image: url('/HomePicture/ad5699a8-5720-4b07-8366-fc6e648ed14c.jpg');
}

/*article*/
/*pourquoi la cigarrette electronique*/

article{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.boxHomeBlog{
    display: flex;
    justify-content: space-around;
    margin: 5vw;
}


#textWhyVapoting{
    text-align: justify;
}

.figureHomeBlog{
    display: flex;
    align-items: center;
}

#pictureWhyVapoting{
    width: 30vw;
    margin-left: 7vw;
    border-radius: 15vw;
    transition: transform  1s  ;
    
}

#pictureWhyVapoting:hover{
    filter: hue-rotate(307deg);
    
    transform: scale(1.1);
}

/*  Qui somme nous? */

#pictureWhoWeAre{
    width: 40vw;
    margin-right: 7vw;
}

#textWhoAreWe{
    text-align: end;
}

#titleWhoAreWe{
    text-align: justify;
}

/*////////////////// navigation produit home page et categorie/////////////////////*/
.ProductBoxs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5vh 0vw
}

.ProductBox{
    background-color: rgba(202, 201, 201, 0.945);
    width: 20%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.figureNavigation{
    display: flex;
    justify-content: center;
}

.pictureNavigation{
    display: flex;
    height: 30%;
    width: 95%;
}

/*/////////////////////show product//////////////////*/
#productShow{
    display: flex;
    justify-content: center;
}

#imgShow{
    width:30%;
    overflow: hidden;
}


.pictureShowProduct{
    max-width: 41%;
    max-height: 30%;
}

#presentation{
    width: 30%;
}

#buy{
    width: 20%;
}

/*////////////////////////////////////Basket//////////////////////////////*/

#pictureBasket{
    width:100%;
}

/*///////////////////////////////////////register////////////////////////*/

/*/////////////////////////////////////////invoice//////////////////////////*/


#pictureInvoice{

    width: 103%;  
}

#figureBasket{
    width:100%;
}

