


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#00BEE0,rgb(2, 2, 2) );
    background-repeat: no-repeat;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    color: white;
    text-decoration: none;
    list-style: none;
    width:98%; 
}



footer{
    background-color: black;
}

li{
    
    list-style: none;
}

a{
    text-decoration: none;
}


#template{
    width: 90%;
    min-height: 80%;
    background-color: white;
}

/*////////////////////////header///////////////*/

header{
    background-color: black;
    display: flex;
    justify-content: center;
    width : 100%;
    background-image:url(/pictureHeader/milky-way-2695569_1280.jpg) ;
    background-size: cover;
    filter:brightness(0);
    transition: filter 0.7s ease-in-out;
    height: 12vw;
}

header:hover{
    filter:brightness(1.5);
 
}

/*///////////////////////////home page////////////////////////////////*/

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55vh; 
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 54vh;
  }
  
  .carousel-item:not(.active) {
    display: none;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

/*////////////////// navigation produit home page et categorie/////////////////////*/
.ProductBoxs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ProductBox{
    background-color: rgba(202, 201, 201, 0.945);
    width: 20%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.figureNavigation{
    display: flex;
    justify-content: center;
}

.pictureNavigation{
    display: flex;
    height: 30%;
    width: 95%;
}

/*/////////////////////show product//////////////////*/
#productShow{
    display: flex;
    justify-content: center;
}

#imgShow{
    width:30%;
    overflow: hidden;
}


.pictureShowProduct{
    max-width: 41%;
    max-height: 30%;
}

#presentation{
    width: 30%;
}

#buy{
    width: 20%;
}

/*////////////////////////////////////Basket//////////////////////////////*/

#pictureBasket{
    width:100%;
}

/*///////////////////////////////////////register////////////////////////*/

/*/////////////////////////////////////////invoice//////////////////////////*/


#pictureInvoice{

    width: 103%;  
}

#figureBasket{
    width:100%;
}

