@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

*{
    font-family: "Red Rose", serif;
}

.h3, h3 {
    font-size: calc(1.0rem + .6vw) !important;
}


h2{

    padding: 2em;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#00BEE0,rgb(2, 2, 2) );
    background-repeat: no-repeat;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

i  {
    font-size:2rem;
}

nav{
    display: flex;
    flex-direction: row;
    /* color: white; */
    text-decoration: none;
    list-style: none;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}





#navMobileScreen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;

}


.blueTitle{
    Background-image:linear-gradient(#00BEE0,rgb(2, 2, 2) );
    font-weight: bolder;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  font-size: 4rem !important;
}


.blue{
    color:#00BEE0;
}

.white{
    color:white
}



li{
    
    list-style: none;
}

nav a{
    display: flex;
    text-decoration: none;
    color: white;
    flex-direction: column;
    align-items: center;
}

nav a:hover{
    color: #00BEE0; 
}

nav a:hover i{
    color: #00BEE0;
}



.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3vh;
}


.template{
    width: 90%;
    min-height: 86vh;
    background-color: white;
    padding-top: 7vh;
    padding: 7vh;
   
}


.templateHome{
    width: 90%;
    min-height: 80vh;
    background-color: white;
    
}

input[type=number] {
    text-align: center;
}

/*////////////////////////header///////////////*/


header{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image:url(/pictureHeader/pexels-pixabay-358528.webp) ;
    
    background-size: cover;
    filter:brightness(0.6);
    transition: filter 0.7s ease-in-out;
    height: 12vw;
}

header:hover{
    filter:brightness(1);
}

.headerAnimation{
    filter:brightness(1);
 
}

.quantityNavBasket{
    color:white;
}

.text-white-icon {
    color: white;
  }

.header-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchButtonIcon{
font-size: 1rem !important;
}

.bi-search{
    font-size: 1rem;
}

/*////////////////////////hamburger////////////////*/
#hamburger-menu{
    display: none;
    
}

/*//////////////////////////search bar/////////////////*/

#searchBarIcon{
    cursor: pointer;

}

#textSearch{
    border-radius: 1vw;
    width: 15vw;
}

#searchBarForm{
    display: none;
    position: absolute;
    
    left: 4vw;

}


#searchBarForm >button{
    margin-top: 2vh;
    border: none;
    background-color: #00BEE0;
    color: white;  
    border-radius: 2vh;
    right: 1.5vw;
    position: relative;

}

form#searchBarForm >button:hover{
background-color: black;

}

#searchBarForm{
    position: absolute;
}

/*///////////////////////logo////////////////////////*/
#top{
height: 0px;
}

#figureLogo{
    border-radius: 50 vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




    

#logo{
    position: absolute;
    top: 0vh;
    width: 14%;
    z-index: 2;
    transition: 1s transform ease-in-out
}

.logoAnimate{
transform: scale(1.2) ;
}

  #logo:hover{
    transform: scale(1.2) ; 
}

/*///////////////////////img cloud////////////////////////////*/

.cloudLeft-home{
/* display: none; */
position: relative;
z-index: 1;
width: 80vw;
bottom: 20vw;
right: 16vw;
  /*  animation: cloud1 1s  forwards; */
   
}

.cloudRight-home{
 /*   display: none; */
 position: relative;
 z-index: 3;
 width: 80vw;
 bottom: 45vh;
 left: 18vw;
 /* animation: cloud2 1s ease  forwards;*/

}


.cloudLeft{
    /* display: none; */
        position: absolute;
        z-index: 1;
        width: 80vw;
        bottom: 31vw;
        right: 24vw;
        animation: cloud1 1s  forwards; 
       
    }
    
    .cloudRight{
     /*   display: none; */
        position: absolute;
        z-index: 3;
        width: 80vw;
        bottom: 64vh;
        left: 27vw;
      animation: cloud2 1s ease  forwards;
    
    }


.animate-cloudLeft {
    animation: cloud1 2s forwards;
}

.animate-cloudRight {
    animation: cloud2 2s  forwards;
}

.reverse-cloudLeft {
    animation: cloud1Reverse 2s forwards;
}

.reverse-cloudRight {
    animation: cloud2Reverse 2s  forwards;
}




.cloudFigure{
    margin:0;
    height: 0;
}

@keyframes cloud1 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-66vw);
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(68vw);
    }
}

@keyframes cloud1Reverse {
    0% {
        transform: translateX(-60vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

@keyframes cloud2Reverse {
    from {
        transform: translateX(68vw);
    }
    to {
        transform: translateX(0vw);
    }
}
  
  
/*///////////////////////////home page////////////////////////////////*/


/*//////////////////////////////carousel////////////////////////////*/
.carousel {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 95vh;
    right: 5vw;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
  }
  
  .carousel-item:not(.active) {
    display: none;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

/*/////////////////////////////paralax et blog homepage////////////////////////*/
.homeTitle{
    text-align: center;
    width: 90%;
    border-top: solid #00BEE0;
    border-bottom: solid #00BEE0 ;
    margin: 10vh;
    font-size: 2.5rem !important;
}
/*paralax*/
#paralaxFigure{
    width: 100%;
    height: 50vh;
    
    display: flex;
justify-content: center;
align-items: center;
}

#pictureParalax{
    overflow: hidden;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
background-repeat: no-repeat;
background-size: cover;
background-position:  center;
background-image: url('/HomePicture/white-smoke-fragments-black-background.webp');
}

/*article*/
/*pourquoi la cigarrette electronique*/

article{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.boxHomeBlog{
    display: flex;
    justify-content: space-around;
    padding-left: 5em;
    padding-right: 5em;
   
}


#textWhyVapoting{
    text-align: justify;
}

.figureHomeBlog{
    display: flex;
    align-items: center;
}

#pictureWhyVapoting{
    width: 30vw;
    margin-left: 7vw;
    border-radius: 15vw;
    transition: transform  1s  ;
    
}

#pictureWhyVapoting:hover{
    filter: hue-rotate(307deg);
    
    transform: scale(1.1);
}

/*  Qui somme nous? */

#pictureWhoWeAre{
    width: 40vw;
    margin-right: 7vw;
    border-radius: 1vw;
}

#textWhoAreWe{
    text-align: end;
    margin-bottom: 2vh;
}

#titleWhoAreWe{
    text-align: justify;
}


#socialHome{
    text-align: center;
    background-color:#00BEE0 ;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

#socialHomeIcons{
    display: flex;
    justify-content: space-evenly;
}

#socialHomeIcons a{
    color: white;
}


#socialHomeIcons a:hover{
    color: rgb(5, 5, 5);
}


/*////////////////// navigation produit home page et categorie/////////////////////*/


#result{
   
    border-spacing: 1vw;
}



#ResultBox{
    display: table;
    border-spacing: 1vw;
}





#filter{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 47%;
}


#allFilterHome{
margin: 0 6vw;

}

#ResultBoxHome{
    
    border-spacing: 1vw;
   
}

#ResultBoxHomeNew{
    border-spacing: 1vw;
    margin-bottom: 2vh;
}

.filterCategoryActive{
     border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    
    /* border: 2px solid black; */
    /* border-bottom: none; */
    font-size: 3vh;
    box-shadow: 0px 0px 4px 2px #4593A1;
    width: 15vw;
    text-align: center;
}


.filterCategoryActive::before{
    border-bottom: 1px solid black;
    box-shadow: none;
}

.filterCategoryActive::after{
    border-bottom: 1px solid black;
    box-shadow: none;
}

[type="radio"] {
    display: none;

  }



 label{
    cursor: pointer;
 } 

.favoriteIconNavigation{
    color: rgba(255, 0, 0, 0.74);
    position: static;
    bottom: 33vh;
    right: -14vw; 
    height: 0vh;
    width: 0vw;

}

.addFavorite{
    display: flex;
    width: 0vw;
    height: 0vw;
    justify-content: center;
    position: absolute;
    left: 15vw;
    
}

.navigationToShowProduct{
    text-decoration: none;
    text-align: center;
    display: table-row;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navProductDetail{
    width: 60%;
    overflow-wrap: break-word;
    display: none;
}

.ProductBoxs{
 
    /* padding: 5vh 0vw; */
    border-top: 3px outset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1vh;
    row-gap: 2vh;
}

.ProductBox{
    background-color: #4593A1;
    width: 18vw;
    height: 63vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1vw;
    display: table-cell;
    text-align: center;
    position:relative;
    color: #000000;
}

.productPrice{
    position: relative;
    background-position-x: left;
    background-color: #00bee0;
    width: 8.5vw;
    text-size-adjust: 29vh;
    text-align: right;
    color:#0D0D0D;
    padding-right: 1vw;
    font-size: 3vh;
    bottom: -4vh;
    margin:-1vw;
    right: 5vw;
}

.pictureNavigation{
    display: flex;
    height: 30%;
    width: 95%;
    border-radius: 1vw;
}




.figureNavigation{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.addToBasketNavigate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00BEE0 ;
    color: white;
    width: 15vw;
    text-align: center;
    border-radius: 1vw;
    text-decoration: none;
    height: 5vh;
    

}

.addToBasketNavigate:hover{
    background-color: black ;
}

.formNav{ 
  
    display: none;
  
}
/* survol de la souris sur un produit /*/
.ProductBox:hover .formNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 3;
   left: 2vw;
   
    height: 15vh;
}
/*/////////////////////show product//////////////////*/
#productName{
    display: flex;
    justify-content: center;
    padding-top: 0;
    font-size: 3rem;
    padding-bottom: 1vh;
    border-top: solid #00BEE0;
    border-bottom: solid #00BEE0;
    width: 98%;
    margin: 0 1vw;
    margin-bottom: 5vh;
}

#addFavorite{
    position: relative;
    left: 0vw !important;
    bottom: 2vh !important;
}


#productShow{
    display: flex;
    justify-content: space-evenly;
    margin: 0 2vw;
}

#imgShow{
    width:30%;
    overflow: hidden;
}


.pictureShowProduct{
    max-width: 41%;
    max-height: 30%;
}


#presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    border: solid #00BEE0;
    border-radius: 1rem;
    min-width: 37rem;
}

#buy{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(202, 201, 201, 0.945);
    justify-content: space-around;
    height: 42vh;

}

.quantityNav{
    display: flex;
    justify-content: center;
    ;
}

#formShow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueButton{
    margin-top: 1vh;
    border:none;
    background-color: #00BEE0;
    color: white;
    height: 6vh;
    width: 15vw;
    border-radius: 2vh;
}

.blueButton:hover{
    background-color: black;
}

#qtt{
    width: 10vw;
}

.qttButton{
    border: unset;
    width: 2vw;
    color: white;
    background-color: black;
}

#increaseBtn{
    border: unset;
}

#showPrice{
    font-size: 3rem;
}
/*//////carousel show//////////*/

.carouselShow{
    position: relative;
    overflow: hidden;
    
    height: 30vh;
    width: 18vw;
    /*right: 5vw;*/
}


  
  .carouselShow-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 46vw;
  }
  
  .carouselShow-item {
    flex: 0 0 100%;
    cursor: pointer;
  }
  
  .carouselShow-item img {
    width: 30vh;
    height: 30vh;
  }


 
  
  .carouselShow-item:not(.active) {
    display: none;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
  }


  .pictureShowProduct.zoom{
    transform:scale(2);
    transition: transform 0,3s ease;
  }

  .prev {
    left: 10px;
  }
  
  .nextShow {
    left: 14vw;
  }




.favoriteIconShow{
  color: rgba(255, 0, 0, 0.74);
}
/*///////zoom image///////////////*/
  
.modalZoom{
    display: none;
    position: fixed;
    z-index: 4;
    color: black;
    width: 100%;
    height: 100%;
    left: 32%;
    top: 5%;
    
  }

  .modalContent{
    width:50%;
     
  }
.closeModal{
    font-size: 3vw;
    cursor: pointer;
    position: absolute;
    top: -2vh;
    background-color: white;
    width: 4vw;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 9vw;
}  

/*////////////////////////////////////Basket//////////////////////////////*/
.quantityBasketColumn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowProducts{

    background-color: #4593A1;
    border-radius: 1vw;
    align-items: center;
    color:#000000;
}


.quantityNavBasketTitle{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
#basket{
    margin: 0 4vw;
}

.pictureBasket{
    width:100%;
}


#validateBasket{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00BEE0 ;
    color: white;
    width: 15vw;
    text-align: center;
    border-radius: 1vw;
    text-decoration: none;
    height: 5vh;
    
}

#validateBasket:hover{
    background-color: #000000;
}


.buttonQuantityBasket{
    border: none;
    background-color: #000000;
    color: white;
    height: 4vh;
    width: 3vw;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin:0vh 1vw;
}

.buttonQuantityBasket:hover{
    background-color: #00BEE0;
}

.deleteBasket{
    
    border: none;
    background-color: #000000;
    color: white;
    height: 4vh;
    width: 10vw;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.deleteBasket:hover{
    background-color: #e00000;

}   

/*//////////////////////////purchase/////////////////////////////*/

/*////////////////////////addProduct/////////////////////////////*/
#addProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*/////////////////////formulaire adresse   /////////////////////*/
#formAdress{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;  
}

 .label{
    padding:2vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.confirm{
    margin-top: 2vh;
    border:none;
    background-color: #00BEE0;
    color: white;
    height: 6vh;
    width: 15vw;
    border-radius: 2vh;
    margin-bottom: 2vh;
}

.confirm:hover{
    background-color: #000000;
}



/*////////////////////////recap///////////////////*/


#templateRecap{
    margin: 0vw 3vw;
}
#basketRecap{
    margin:0vh 3vw;
}
/*///////////////////////////////////////register////////////////////////*/
#registerBox{
    margin: 0vw 27vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formRowRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*/////////////////////////////////////////invoice//////////////////////////*/


#pictureInvoice{

    width: 103%;  
}

#figureBasket{
    width:100%;
}


/*////////////////////////////////recap////////////////////////////*/

#termsRecap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productBasketRecap{
    margin-bottom:2vh;
}
/*////////////////////////////////////////footer////////////////////////////////*/

footer{
    background-color: black;
    height:20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#footerLegal{
    display: flex;
    flex-direction: column;
    
}


#footerLegal a{
    color:white;

} 

#footerSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#socialFooterIcons{
 display: flex;
 flex-direction: row;
 width: 43vw;
 justify-content: space-evenly;
 color: white;
}

#socialFooterIcons a {
    color: white;  
}

#socialFooterIcons a:hover {
    color: #00BEE0;  
}

/*/////////////////////////user//////////////////////////*/
#userMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
}

#userMenu a{
    text-decoration: none;
}

menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.bi-download{
    font-size: 1.5rem;

}

#downloadInvoice{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*//////////////////////////////user menu /////////////////////////////////*/
#editUserInformation{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*////////////////////////////media query tablet //////////////////////*/

@media only screen and (min-width: 768px) and (max-width: 1600px)and (orientation : landscape) {

    .cloudRight-home {
        display: none;
    }

    .cloudLeft-home {
        display: none;
    }

    header{
        height: 16vw;
    }

    #logo{
        width:18%;
    }

    .cloudFigure{
        display: none;
    }

    .productPrice{
        width: 8vw;
    }

    #searchBarForm >button {
        right: 3vw;    
    }

}

@media only screen  and (max-width: 1350px) {
   


   .template{
    padding-top: 21vh;
   }
   
    .boxHomeBlog{
        justify-content: center;
    align-items: center;
    flex-direction: column;
    }

 /*//////////////////header/////////////////////////*/   
   
  header{
    filter:brightness(1);
    height:18vw;
    position: fixed;
    z-index: 3;
  }
    .cloudFigure{
        display: none;
        width: 0vw;
    }

    .cloudLeft-home{
    display: none;
   }

   .cloudRight-home{
    display: none;
   }

   #logo{
    width: 26%;
    position: fixed;
    z-index: 3;
   }

   #navMobileScreen {
    display: none;
    align-items: center;
    justify-content: space-between;
   
    position: fixed;
    bottom: -23vh;
    flex-direction: column;
    background-color: #051541;
    right: 54%;
    max-width: 45vw;
    margin: 11vh 1vh;
    height: 134vh;
    justify-content: center;
    font-size: 3vh;
    
   }

 



   #textSearch{
    font-size: 1rem;
    position: relative;
    bottom: 2vh;
    right: -3vw;
    display: flex;
    width: 33vw;
    height: 3vh;
   }

   #hamburger-input{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }


    #hamburger-menu{
        display: inline;
        pointer-events: fill;
        font-size: 2em;
    }

    #navMobileScreen a{
        text-decoration: none;
        color: white;
    }


    #searchBarForm >button {
        border: none;
        background-color: #00BEE0;
        color: white;
        border-radius: 15vh;
        bottom: 7vh;
        left: 33vw;
        height: 3vh;
        width: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul{
        display: flex;
    flex-direction: column;
    align-items: center;
    }

 /*//////////////home///////////////*/
 #allFilterHome {
    margin: 0px 2vw;
}  

#filter{
    width: 67%;
}


#productBox4{
display: none;
}

#socialHomeIcons a {
    font-size: 5rem !important;
}

/*//////////////////home carousel////////////////*/

.carousel-item img {
 
    height: 38rem;
}

.carousel{
    margin-top: 19%;
    height: 38rem;
   }
/*/////////////////////////home result///////////////////*/

.formNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterCategoryActive{
    width: 25vw;
}

/*//////////////////home blog////////////////////*/
.blueTitle {
    font-size: 3rem !important;
}

#pictureWhyVapoting {
    width: 58vw;
    margin-left: 0vw;
    border-radius: 31vw;
    transition: none;
}

   #pictureWhoWeAre{
    width: 82vw;
    margin-right: 0vw;
   }



   footer{
    flex-direction: column;
    height: 30vh;
   }

   /*////////////////////////////////nav produit//////////////////////////*/

   .addFavorite {
    position: absolute;
    
  
    left: 21vw;
    
}




.ProductBox{
   height: 100%; 
   width: 100%;
   margin-bottom: 1vw;
   position: relative;
   row-gap: 2vh;
}

.ProductBoxs {
    display: grid; 
    justify-content: space-around;
    padding: 5vh 1vw;
    border-top: 3px outset;
    column-gap: 1vh;/*espace horizontal entre chaque box de produit*/
    row-gap: 2vh;/* espace entre chaque */
    grid-template-columns: repeat(3, 1fr);/* pour regler les alignement des colonnes */
}

.productPrice{
    width: 15vw;
}

.ProductBox:hover .formNav {
    height:15vh;
    position: initial;
  }

  .blueButton{
width: 21vw;
height:5vh ;
  }

  h3{
   font-size: 1.3rem; 
  }

  #ResultBox {
    border-spacing: 0vw;
}

#qtt{
    width: 18vw;
}

.qtt{
    width: 4vw;
}

.qttButton{
    height: 1em;
    width: 1em;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.favoriteIconNavigation{
    bottom: 22vh;
    right: -20vw;

}
/*//////////////////////////////////// show product///////////////////////*/
#productName{
    margin-bottom: 0vh;
}


#addFavorite{
    position: relative;
    left: 1vw !important;
    bottom: 2vh !important;
}

#productShow {
    
    justify-content: space-evenly;
    margin: 2vh 5vw;
    display: grid;
    justify-items: center;

}

.nextShow {
    left: 42vw;
}

.carouselShow{
    display: grid;
}
#presentation{
    display:grid;
    justify-items: center;
    grid-column: 1/3;
    grid-row: 2;/* pour mettre l'element a la ligne en dessous*/
    border: solid #00BEE0;
    border-radius: 1rem;
    min-width: 37rem;
}

#buy{
    display: grid;
    width: 29vw;
    justify-items: center;
    height: 27rem;
}

.carouselShow-item img{

    width: 28rem;
    height: 27rem;
    max-width: 100%;
   max-height: 100%;
}

.carouselShow {

     height: auto; 
     width: auto; 
     right: 5vw; 
}

.carouselShow-item {
    flex: 0 0 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*/////////////////////////basket//////////////////////*/
.deleteBasket{
    width: 16vw;
}

#validateBasket{
    width: 24vw;
    border-radius: 5vw;
}

  }








/*///////////////////////////media query mobile//////////////////////*/

@media (min-device-width: 320px) and (max-device-width: 767px) and (orientation:portrait) {
   .template{
    padding: 1vh;
   }
   
    i{
        font-size: 3rem !important;
    }
   .required{
    font-size: 2rem;
  }
    .template{
        width: 95%;
        padding-top: 21vh;
       }
       
        .boxHomeBlog{
            justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        }
    
        .categorySelector{
            font-size: 2.5rem !important;
            margin:0 2vw;
        }

        h1{
            font-size: 1.5em !important;
            padding: 0em;
        }
        h2{
            font-size: 3.5em !important;
             padding: 0em;
         
        }

        p{
            font-size: 2rem;
        }

        .nicotine{
            font-size: 3em;
        }

        option{
            font-size: 1rem;
        }

        label{
            font-size: 2em;
            display: flex !important;
            flex-direction: column;
            align-items: center;
        
        }


        h4{
            font-size: 3rem;
        }

        .footerSocialIcon{
            font-size: 5rem !important;
        }

        #socialFooterIcons {
            width: 100vw;
        }

        #footerLegal{
            justify-content: space-between;
            margin: 2vh;
        }
     /*//////////////////header/////////////////////////*/   
       
      header{
        height: 25vw;
      }
        .cloudFigure{
            display: none;
            width: 0vw;
        }
    
        .cloudLeft-home{
        display: none;
       }
    
       .cloudRight-home{
        display: none;
       }
    
       #logo{
        width: 34%;
    position: fixed;
    z-index: 3;

       }
    
       #navMobileScreen {
        display: none;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: -23vh;
        flex-direction: column;
        background-color: #051541;
        right: -2%;
        max-width: 102vw;
        margin: 11vh 1vh;
        height: 134vh;
        justify-content: center;
        font-size: 3vh;
        width: 104vw;
       }
    
     
    
    
    
       #textSearch{
        font-size: 1rem;
        bottom: 1vh;
        right: 6vw;
        width: 68vw;
        height: 8vw;
        border-radius: 2vh;
       
       }
    
       #hamburger-input{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       }
    

    
        #hamburger-menu{
            display: inline;
            pointer-events: fill;
            font-size: 3rem;
        }
    
        #navMobileScreen a{
            text-decoration: none;
            color: white;
        }
    
    
        #searchBarForm >button {
            border: none;
            background-color: #00BEE0;
            color: white;
            border-radius: 15vh;
            bottom: -4rem;
            position: absolute;
            left: 49vw;
            height: 5vh;
            width: 8vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        ul{
            display: flex;
        flex-direction: column;
        align-items: center;
        }

        #searchButtonIcon{
            font-size: 3rem;
            }
    
       #searchBarForm {
        height: 0vh;
        top: 45vh;
            left: 25vw;
        }

        #basketBox{
            font-size: 2rem;
        }
     /*//////////////home///////////////*/
     #allFilterHome {
        margin: 0px 2vw;
    }  
    
    #filter{
        width: 85%;
        right: 9vw;
        position: absolute;
    }
    
    
    #productBox4{
        display: flex !important;
    }
    
    .templateHome {
        width: 95%;
    }
    
    .homeTitle{
        font-size: 4.5rem !important;
        margin: 5vh;
    }
    
    .carousel-control{
        font-size: 10vw !important;
    }
    /*//////////////////home carousel////////////////*/
    
    .carousel-item img {
     
        height: 38rem;
    }
    
    .carousel{
        margin-top: 26%;
        height: 38rem;
        width: 108%;
       }
    /*/////////////////////////home result///////////////////*/
    
    .formNav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .filterCategoryActive{
        width: 25vw;
    }
    
    /*//////////////////home blog////////////////////*/
    .blueTitle {
        font-size: 4.5rem !important;
        margin: 5vh 0em;
    }
    
    #pictureWhyVapoting {
        width: 58vw;
        margin-left: 0vw;
        border-radius: 31vw;
        transition: none;
    }
    
       #pictureWhoWeAre{
        width: 82vw;
        margin-right: 0vw;
       }
    
    
    
       footer{
        flex-direction: column;
        font-size: 2rem ;
       }
    
       /*////////////////////////////////nav produit//////////////////////////*/
       .pictureNavigation {
        height: 100%;
       }

.ProductBox:hover .formNav {
    height:auto;
  }

       .filterCategoryActive {
        font-size: 3.5rem !important;
        width: 34vw;
       }

       .addFavorite {
        position: absolute;
        left: 33vw;
        
    }
    
    
    
    
    .ProductBox{
       height: 100%; 
       width: 100%;
       margin-bottom: 1vw;
       position: relative;
       row-gap: 0vh;
     
    }
    
    .ProductBoxs {
        display: grid; 
        justify-content: space-around;
        padding: 5vh 1vw;
        border-top: 3px outset;
        column-gap: 1vh;/*espace horizontal entre chaque box de produit*/
        row-gap: 2vh;/* espace entre chaque */
        grid-template-columns: repeat(2, 1fr);/* pour regler les alignement des colonnes */
    }
    
    .productPrice{
        font-size: 4.3rem;
        top: 6vh;
        right: 9vw;
        width: 27vw;
    }
    
  
    
      .blueButton{
        width: 42vw;
        height: 7vh;
        font-size: 2.5rem;
      }
    
      h3{
       font-size: 3rem !important; 
      }
    
      #ResultBox {
        border-spacing: 0vw;
    }
    
    #qtt{
        width: 22vw;
        font-size: 2.5em;
    }
    
    .qtt{
        width: 4vw;
    }
    
    .qttButton{
        height: 1.3em;
        width: 1.3em;
        font-size: 4.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .quantityNav{
        margin-bottom: 1vh;
    }

    .favoriteIconNavigation{
       
        font-size: 4.5rem !important;
    
    }
    /*//////////////////////////////////// show product///////////////////////*/
   
    
    .favoriteIconShow {
       
        font-size: 4rem !important;
    }
  
    #showPrice{
    font-size: 5rem;
   }
   
   
    #productName{
        margin-bottom: 0vh;
        font-size: 10vw !important;
    }
    
    .modalZoom {
        display: none !important;
    }



    #addFavorite{
        position: relative;
        left: 1vw !important;
        bottom: 1vh !important;
    }
    
    #productShow {
        
        justify-content: space-evenly;
        margin: 2vh 0vw;
        display: grid;
        justify-items: center;
    
    }
    
    .nextShow {
        left: 88vw;
    }
    
    .carouselShow{
        display: grid;
    }
    #presentation{
        display:grid;
        justify-items: center;
        grid-column: 1/3;
        grid-row: 3;/* pour mettre l'element a la ligne en dessous*/
        border: solid #00BEE0;
        border-radius: 1rem;
        min-width: 53rem;
        margin-top: 1vh;
        font-size: 2rem;
    }
    
    #buy{
        display: grid;
        width: 90vw;
        justify-items: center;
        height: 41rem;
        grid-row: 2;
    }
    
    .carouselShow-item img{
    
        width: 60rem;
        height: 60rem;
        max-width: 100%;
       max-height: 100%;
    }
    
    .carouselShow {
    
         height: auto; 
         width: auto; 
         left:0vw;
    }
    
    .carouselShow-item {
        flex: 0 0 100%;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .carouselShow-inner{
        width: 95vw;
    }
    /*/////////////////////////basket//////////////////////*/
    
    #tableHeadBasket{
        display: none;
    }
    
    
    #basket{
        font-size: 3rem;
    }
    
    .rowProducts{
        display: grid !important;
        background-color: #4593A1;
        border-radius: 5vw;
    }
    
    .deleteBasket{
        width: 26vw !important;
    }
    
    #validateBasket{
        width: 24vw;
        border-radius: 5vw;
    }

    .basketPicture{
        grid-column: 1;
        grid-row: 2;
    }

    .basketName{
        display: grid;
        grid-row: 1;
        justify-items: center;
        grid-column: 2;
        width: 42vw !important;
    }

    .basketProductPrice{
        display: none;
       
    }

    .quantityBasketColumn{
        grid-column: 2;
        grid-row: 2;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
    }

    .basketButtonDeleteProduct{
        display: grid;
        grid-column: 3;
        grid-row: 1; 
        align-items: center;
    }

    .buttonQuantityBasket {
    width: 7vw;
    border-radius: 1vh
    }

    .totalAmounProduct{
        display: grid;
        grid-column: 3;
        grid-row: 2; 
        justify-items: center;
    }

    #rowToValidate{
        display: grid;
        justify-items: center;
    }


    #deleteAllBasket{
        grid-row: 2;
    }

    #validateBasketSection{
        grid-row: 2;
        grid-column: 3;
    }

    #deleteAllProduct{
        width: 50vw !important;
    }

    #validateBasket{
        width: 34vw !important;
         height: 10vh;
    }
    /*///////////////////////////////form Adress //////////////////////////////////*/
    
#formAdress {
font-size: 2rem;
}


 /*//////////////////////////////////////recap/////////////////////////////////////*/

 #adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9vh 0vw;
 }

 #adress a{
    font-size: 2rem;
 }

 #productBasketRecap{
    font-size: 2rem;
 }

 #basketRecap{
    font-size: 2rem;
 }
 [type="checkbox"] {
    width: 2rem;
    height: 2rem;

  }

  .confirm{
    width: 25rem;
    height: 6rem;
    margin-bottom: 2vh;
    font-size: 3rem;

  }

  #termsRecap{
    margin-top: 9vh;
  }




  /*/////////////////////////////////////////login/////////////////////////////////////////*/


 .form{
    font-size: 2rem;
  }

  #inputEmail, #inputPassword, #login {
    font-size: 3rem;
  }

  #login{
    margin-top: 2vh;
  }
 


  /*/////////////////////////////////////register///////////////////////////////////////////*/
  .captcha-container {
    /* Définissez ici la taille du captcha pour les appareils mobiles */
    width: 80%;
}
  #registration_form_captcha{
    transform: scale(2.5);
    position: relative;
    margin-top: 5rem;
    
  }

  #agreeTerms{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
/*/////////////////user///////////////////*/


menu, .userMenu {
    font-size: 2rem;
}

/*/////////////////////editUser////////////*/

#editUserInformation{
   font-size: 2rem !important;

}


#labelEmailEditUser{
    font-size: 3rem;
}

#deleteProfile{
    font-size: 2rem;
}

/*///////////////////// orderHistory////////////*/
#adress{
    font-size: 2rem;
    margin: 0 0;
    align-items: flex-end;
}

#downloadInvoice{
    font-size: 2rem;
}


  }