{% extends 'base.html.twig' %}

{% block title %}Liste des factures{% endblock %}

{% block body %}
<a href="{{path('app_admin')}}"> Retour</a>
<h2> Factures    </h2>

<thead>
    <div class="row">
        <div class="col-sm">
            Date de la commande
         </div>
        <div class="col-sm">
           No de commande
        </div>

        <div class="col-sm">
           Pdf Commande
        </div>
        
   </div>


</thead>
{% for invoice in invoices %}
 
<tbody>
    <div class="row" >
        <div class="col-sm">
            {{invoice.PurchaseDateFormat}}

        </div>
        


        <div class="col-sm">
            {{invoice.NoOrder}}

        </div>
        

        <div class="col-sm">
            <a  href="{{ path ('app_downloadInvoice' , {'noOrder':invoice.noOrder })}}"> telecharger facture</a>

        </div>
        
    </div>


</tbody>
   



{% endfor %}
{% endblock %}
