{% extends 'base.html.twig' %}

{% block title %}Adresse de livraison{% endblock %}

{% block body %}
<h2 class="title"> Adresse de livraison    </h2>
<div id="formAdress">
{{ form_start(AddAdressform) }}
{{ form_end(AddAdressform) }}
</div>
{% endblock %}
