{% extends 'base.html.twig' %}

{% block title %}Adresse de livraison{% endblock %}

{% block body %}
<h1> Adresse de livraison    </h1>
<div id="formAdress">
{{ form_start(AddAdressform) }}
{{ form_end(AddAdressform) }}
</div>
{% endblock %}
