{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}


    

{% block body %}

<menu >
    <h2> Profil</h2>
<a href="{{path('app_orderHistory')}}"> Historique des commandes</a><br>
<a href="{{path('app_editUser' , {'id':app.user.id} )}}"> editer les informations du profil</a><br>
</menu>

{% endblock %}
