{% extends 'base.html.twig' %}

{% block title %}Historique de commande{% endblock %}



{% block body %}



<menu class="menuNavigate">
    
<a  class="userMenuReturn" href="{{path('app_user')}}"><i class="bi bi-arrow-left">Retour</i> </a>

    
    <h1 id="titleUserMenu">Historique des commandes</h1>

<section id="menuBox">
    {% for order in orders %}


<a href="{{path('app_orderHistoryDetail' , {'noOrder':order.NoOrder }) }}"><i class="bi bi-bag-fill"></i>  Commande no {{order.NoOrder}}</a><br>

{% endfor %}
    </section>
</menu>

{% endblock %}