{% extends 'base.html.twig' %}

{% block title %}Historique de commande{% endblock %}



{% block body %}
<h1>Historique des commandes</h1>
{% for order in orders %}


<a href="{{path('app_orderHistoryDetail' , {'noOrder':order.NoOrder }) }}">  Commande no {{order.NoOrder}}</a><br>

{% endfor %}


{% endblock %}