{% extends 'base.html.twig' %}

{% block title %}Historique de commande{% endblock %}



{% block body %}
<a  class="userMenu" href="{{path('app_user')}}"> Retour</a>
<h2>Historique des commandes</h2>

<menu>
{% for order in orders %}


<a href="{{path('app_orderHistoryDetail' , {'noOrder':order.NoOrder }) }}">  Commande no {{order.NoOrder}}</a><br>

{% endfor %}
</menu>

{% endblock %}