{% extends 'base.html.twig' %}

{% block title %}Poster un commentaire{% endblock %}


    

{% block body %}
<h2>Poster une revue de produit</h2>
{{form_start(registrationForm) }}


{{form_end(registrationForm)}}
{% endblock %}